{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球生鲜商城网站</title>
    <link type="text/css" href="{% static '/buyer/css/index.css' %}"  rel="stylesheet"/>
    <link type="text/css" href="{% static '/buyer/css/footer.css' %}"  rel="stylesheet"/>
    {% block style %} {% endblock %}
</head>
<body>
    <!-- 头部开始 -->
   <div class="header">
    <ul>
        <li><a href="">[免费开店]</a></li>
         <li><a href="/buyer/carlist">[购物车]</a></li>
         <li><a href="/buyer/uregister">[注册有惊喜]</a></li>
        <li><a href="/buyer/login/">[登录]</a></li>
        <li><a href="/buyer/login/">[退出]</a></li>
    </ul>
    </div>


    <div class="header_logo">
            <div class="logo"></div>
            <div class="nav">
                <ul>
                    <li><a href="/buyer/index/">首页<br/>Home</a></li>
                    <li><a href="">鲜果<br/>Fruit</a></li>
                    <li><a href="">会员中心<br/>VIP Club</a></li>
                </ul>
            </div>
    </div>
    <!-- 头部结束 -->




        {% block  content%}
        {% endblock %}

{#<div class="footer_service">#}
{#    <div class="wrap">#}
{#        <ul>#}
{#            <li class="s1">#}
{#                <b>全球精选</b>#}
{#                <span>一站式生鲜购物方案</span>#}
{#            </li>#}
{#            <li class="s2">#}
{#                <b>多仓直发</b>#}
{#                <span>次日达配送服务</span>#}
{#            </li>#}
{#            <li class="s3">#}
{#                <b>品质严选</b>#}
{#                <span>精选正宗品质好食材</span>#}
{#            </li>#}
{#            <li class="s4">#}
{#                <b>天天低价</b>#}
{#                <span>会员专属优惠购不停</span>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
{##}
{#<div class="footer">#}
{#    <div class="wrap">#}
{#        <dl class="col1">#}
{#            <dt>新手指南</dt>#}
{#            <dd>#}
{#                <p><a href="/help/registersteps.html">账户注册</a></p>#}
{#                <p><a href="/help/gouwuliucheng.html">购物流程</a></p>#}
{#                <p><a href="/help/ordering.html">订购方式</a></p>#}
{#                <p><a href="/help/ubremark.html">悠币说明</a></p>#}
{##}
{#                            <p><a href="http://www.yiguo.com/activity/sale/2998">会员等级<i class="ml5" style="display: none;"><img src="http://img06.yiguoimg.com/e/web/170315/00941/154425/icon-new.png"></i></a></p>#}
{##}
{##}
{#            </dd>#}
{#        </dl>#}
{#        <dl class="col2">#}
{#            <dt>付款方式</dt>#}
{#            <dd>#}
{#                <p><a href="/help/payment.html">支付方式</a>/<a href="/help/invoiceremark.html">发票说明</a></p>#}
{#                <p><a href="/help/usechuzhika.html">礼品卡章程</a></p>#}
{#                <p><a href="/help/usegiftcard.html">优惠代码</a></p>#}
{#                <p><a href="/help/cardbuynotes.html">卡券购买章程</a></p>#}
{#            </dd>#}
{#        </dl>#}
{#        <dl class="col3">#}
{#            <dt>配送方式</dt>#}
{#            <dd>#}
{#                <p><a href="/help/sendyuefei.html">配送运费</a></p>#}
{#                <p><a href="/help/sendquyu.html">配送范围</a></p>#}
{#                <p><a href="/help/sendtime.html">配送时间</a></p>#}
{#            </dd>#}
{#        </dl>#}
{#        <dl class="col4">#}
{#            <dt>售后服务</dt>#}
{#            <dd>#}
{#                <p><a href="/help/tuihuanhuoshuoming.html">退换货政策</a></p>#}
{#                <p><a href="/help/huanhuolc.html">退换货流程</a></p>#}
{#                <p><a href="/help/qa.html">常见问题</a></p>#}
{#                <p><a href="/help/quicknessrefund.html">极速退款</a></p><p>#}
{#                </p><p><a href="http://home.yiguo.com/Trade/Advice">投诉与建议</a></p>#}
{#            </dd>#}
{#        </dl>#}
{#        <dl class="col5">#}
{#            <dt>关于我们</dt>#}
{#            <dd>#}
{#                <p><a href="/help/introduction.html">公司介绍</a></p>#}
{#                <p><a href="/help/contact.html">联系我们</a></p>#}
{#                <p><a href="/help/procooperation.html">业务合作</a></p>#}
{#                <p><a href="/help/chengxinjubao.html">诚信举报</a></p>#}
{#                <p> <a href="/help/RegisterAgreement.html"> 用户协议</a> </p>#}
{#                <p><a href="/help/PrivacyAgreement.html">隐私协议</a></p>#}
{#                <p><a href="http://yiguo.zhiye.com/home" target="_blank" rel="nofollow">人才招聘</a></p>#}
{#                <p><a href="/help/friendurl.html">友情链接</a></p>#}
{##}
{#            </dd>#}
{#        </dl>#}
{#        <div class="service"><span>客服热线 400-000-7788 企业采购或团购，请转2号键咨询</span><span>周一至周日 9:00-21:00</span></div>#}
{#        <div class="copyright">#}
{#            <p>所有图片均受著作权保护，未经许可任何单位与个人不得使用、复制、转载、摘编，违者必究法律责任。</p>#}
{#            <p> <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">沪ICP备09008015号</a>  Copyright © 2005-2019 <a href="http://www.yiguo.com/"> </a>版权所有</p>#}
{#            <p class="authentication">#}
{#                <a href="http://www.yiguo.com/legal" target="_blank" rel="nofollow"><img src="http://img07.yiguoimg.com/d/web/171208/00652/173249/153685368061665897_121x29.png"></a>#}
{#                <a href="http://shwg.dianping.com/index.html" target="_blank" rel="nofollow"><img src="http://img05.yiguoimg.com/e/web/160420/01632/141253/2517491005058doc.png" height="47"></a>#}
{#                <a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20110512114405424" target="_blank"><img src="//img06.yiguoimg.com/d/web/181227/00281/143951/footer_copy.jpg" height="47px"></a>#}
{#                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010502000002" style="display: inline-block; text-decoration: none; height: 20px; line-height: 20px;"><img src="http://www.beian.gov.cn/file/ghs.png" style="float: left;"><span style="float: left; height: 20px; line-height: 20px; margin: 0px 0px 0px 5px; color: #939393;">沪公网安备 31010502000002号</span></a>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
</body>
</html>























