{% extends "buyer/base.html" %}
    <!-- 头部结束 -->
{% load static %}
{% block content %}


<form method="post" action="#">
       
        <div class="cart_list">
        <div class="cart_top">填写并核对订单信息</div>
        <div class="cart_listbox">
            <p>收货人信息 <a href="/buyer/ddaddress/">新增收货地址</a></p>
               {% for add in addlist %}
            <p style="line-height: 50px;font-family: "宋体";border:1px dotted grey;>
            <input type="radio" value="" name="address" checked/>
           姓名: {{ add.contacts }} 电话：{{ add.tel }}  地址:{{ add.address }}
            </p>
               {% endfor %}

        </div>
        <div class="cart_top">配送信息</div>
        <div class="cart_listbox">
             <table width="100%" cellpadding="0" cellspacing="0">
                <tr >
                    <th style='width:20%'>商品名称</th>
                    <th style='width:25%'>商品缩略图</th>
                    <th style='width:20%'>商品单价</th>
                    <th style='width:20%'>商品数量</th>
                    <th style='width:10%'>商品小计</th>
                </tr>
               

                 {% for info in goodslist %}
                <tr>
                        <td>
                            <a href="#">{{ info.buyCar.goods.goods_name }}</a>
                        </td>
                            <td><a href="#"><img src="/static{{ info.buyCar.goods.image_set.first.img_address.url }}" /></a></td>
                        <td>￥{{ info.buyCar.goods.goods_now_price }}元</td>
                        <td>{{ info.buyCar.num }}</td>
                        <td>￥{{ info.buyCar.total }}</td>
                </tr>
{#                     <tr>#}
{#                         <input type="hidden" name="id" value="{{ info.buyCar.id }}">#}
{#                     </tr>#}
               {% endfor %}
                <tr>
                    <td colspan="5" style="text-align: right; padding-right: 10px;"><a href="/buyer/carlist/">返回购物车修改</a></td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right; padding-right: 10px;">总计：{{ money }}元</td>
                </tr>

             <tr>
                    <td colspan="5" style="text-align: right; padding-right: 10px;">
                        <input type="hidden" name="refer" value="{{ goodslist }}">
                        <input type="hidden" value="{{ money }}" name="total"/>
                        <input type="submit" value="提交订单" class="btn"  /></td>
                </tr>
            </table>

        </div>



    </div>
    </form>


{% endblock %}